Module System

{just a test
var
	test:string="lul"
end}

 

void Write a:...string
	purecode "BlitzMax","For local a = Eachin $C{A}C$ "
	purecode "BlitzMax","	WriteStdOut a "
	purecode "BlitzMax","	Writestdout \" \" "
	purecode "BlitzMax","Next"
	purecode "BlitzMax","WriteStdOut \"~b\" "
	
end

void WriteLn a:...string
	purecode "BlitzMax","For local a = Eachin $C{A}C$
		WriteStdOut a
		Writestdout \" \"
	Next
	writestdout \"~b~n\"
	"
end




void BlitzTest a:string
	purecode "BlitzMax","	Print $C{A}C$"
end

function Platform:String
	purecode "BlitzMax","	?MacOS
		return \"MacOS\"
	?Win32
		return \"Windows\"
	?Linux
		return \"Linux\"
	?
		return \"Unknown\"
	"
end

