Module System

{just a test
var
	test:string="lul"
end}

{temp code -- will be removed soon}
void Writeln
end
void write
end





void BlitzTest a:string
	purecode "BlitzMax","	Print $C{A}C$"
end

function Platform:String
	purecode "BlitzMax","	?MacOS
		return \"MacOS\"
	?Win32
		return \"Windows\"
	?Linux
		return \"Linux\"
	?
		return \"Unknown\""
end
