{module system}

import "console.log" void Print string
{import "String.fromCharCode" function Chr:string i:integer}
function Chr:string i:integer
	purecode "WebJS" ,"return String.fromCharCode($C{I}C$);"
	purecode "NW.JS" ,"return String.fromCharCode($C{I}C$);"
	purecode "NodeJS","return String.fromCharCode($C{I}C$);"
end


{In Javascript Write and WriteLn will cause the same effect, due to JavaScript not having a proper 'Write' equivalent}
void Write a:...string
   purecode "WebJS","import:Write.js.imp"
   purecode "NodeJS","import:Write.js.imp"
   purecode "NW.JS","import:Write.js.imp"
end

void WriteLn a:...string
   purecode "WebJS","import:Write.js.imp"
   purecode "NodeJS","import:Write.js.imp"
   purecode "NW.JS","import:Write.js.imp"
end

func ReadLn:string question:string
   purecode "NodeJS","console.log(\"ERROR: No READLN support for NodeJS output (yet)\"); return;"
   purecode "NW.JS","return prompt($C{QUESTION}C$);"
   purecode "WebJS","return prompt($C{QUESTION}C$);"
end

func ReadInt:integer question:string
   purecode "NodeJS","console.log(\"ERROR: No READINT support for NodeJS output (yet)\"); return 0;"
   purecode "NW.JS","ReadInt.js.imp";
   purecode "WebJS","ReadInt.js.imp";
end

func UCase:String str:string
	purecode "NodeJS","return $C{STR}C$.toUpperCase();"
	purecode "NW.JS","return $C{STR}C$.toUpperCase();"
	purecode "WebJS","return $C{STR}C$.toUpperCase();"
end


func LCase:String str:string
	purecode "NodeJS","return $C{STR}C$.toLowerCase();"
	purecode "NW.JS","return $C{STR}C$.toLowerCase();"
	purecode "WebJS","return $C{STR}C$.toLowerCase();"
end

def StrRepeat:String str:string,times:integer
     {var ret:string = ""     
     for i:=1,times
         ret += str
     end
     return ret
     }
     PureCode "NodeJS","   let ret = \"\"; for(let i=1;i<=$C{TIMES}C$;i++) ret += $C{STR}C$; return ret;"
     PureCode "NW.JS" ,"   let ret = \"\"; for(let i=1;i<=$C{TIMES}C$;i++) ret += $C{STR}C$; return ret;"
     PureCode "WebJS" ,"   let ret = \"\"; for(let i=1;i<=$C{TIMES}C$;i++) ret += $C{STR}C$; return ret;"
end

def Replace:String OriString:String,Ori:String,RepWith:String
	purecode "NodeJS","import:Replace.js.imp"
	purecode  "WebJS","import:Replace.js.imp"
	purecode  "NW.JS","import:Replace.js.imp"
end

def Trim:string str:String
     purecode "NodeJS","return $C{STR}C$.trim();"
     purecode "NW.JS","return $C{STR}C$.trim();"
     purecode "WebJS","return $C{STR}C$.trim();"
end

def StrLen:IntEgeR str:string
    purecode "NodeJS","return $C{STR}C$.length;"
    purecode "NW.JS","return $C{STR}C$.length;"
    purecode "WebJS","return $C{STR}C$.length;"
end
    
def Left:string str:string,l:integer=1
	purecode "NodeJS","return $C{STR}C$.slice(0,$C{L}C$);"
	purecode  "NW.JS","return $C{STR}C$.slice(0,$C{L}C$);"
	purecode  "WebJS","return $C{STR}C$.slice(0,$C{L}C$);"
end

def Right:string str:string,l:integer=1
	purecode "NodeJS","return $C{STR}C$.slice(-$C{L}C$);"
	purecode  "NW.JS","return $C{STR}C$.slice(-$C{L}C$);"
	purecode  "WebJS","return $C{STR}C$.slice(-$C{L}C$);"
end

def Mid:String str:string,p:integer,l:integer=1
     purecode "NodeJS"," s=$C{P}C$-1; e=s+$C{L}C$; return $C{STR}C$.slice(s,e);"
     purecode  "NW.JS"," s=$C{P}C$-1; e=s+$C{L}C$; return $C{STR}C$.slice(s,e);"
     purecode  "WebJS"," s=$C{P}C$-1; e=s+$C{L}C$; return $C{STR}C$.slice(s,e);"
end
