module system

var phpnlbr:boolean

import "die" Void Halt
import "chr" func string asciivalue:integer

void Write a:...string
	purecode "php" "$a=$C{a}C$
		for ( $i=0;$i<len($a);$i++ ){
			echo \"$a \";
		}
	"
end

void WriteLn a:...string
	purecode "php" "$a=$C{a}C$;
		for ( $i=0;$i<len($a);$i++ ){
			echo \"$a \";
		}
		if $C{phpnlbr}C${ echo \"<br />\" }
		echo \"\n\";
	"
end

func GET :string key:string; purecode "php","\treturn $_GET['$C{key}C$'];"; end
func POST:string key:string; purecode "php","\treturn $_GET['$C{key}C$'];"; end

void init
	phpblbr:=true
end
